.hero {
  margin: 6rem 0;

  .hero__wrapper__data {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  &__wrapper {
    margin: 0 1rem;

    &__heading {
      font-size: clamp(1.5rem, 16.1vw - 1.7rem, 6rem);
      font-weight: bold;
      margin-bottom: 3rem;
    }
    &__copy {
      max-width: 800px;
      margin: 0 1rem;
      margin-top: 6rem;
      font-size: 1.125rem;
      line-height: 1.3;
      color: hsla(0, 0%, 30%, 100%);
    }

    a {
      color: hsla(0, 0%, 0%, 100%);
    }
  }
  &__banner {
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 16/9;
    position: relative;
  }

  @media (min-width: 768px) {
    margin: 10rem 0rem 8rem;

    &__wrapper {
      &__heading {
        font-size: 6rem;
      }
      &__copy {
        margin: 6rem auto 0;
      }
    }

    &__banner {
      width: 100%;
      height: 80vh;
      position: relative;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;

  @media (min-width: 768px) {
    margin: 0 auto 8rem;
  }
}
