.credits {
  margin: auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 832px;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.item {
  &__profession {
    font-weight: bold;
    font-family: var(--heading-font);
  }
}
