.educations {
  position: relative;
  margin: 6rem 0;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @media (min-width: 768px) {
    padding: 0 1rem;
  }

  &__heading {
    // font-size: 12rem;
    font-size: clamp(3rem, 17.9vw - 0.6rem, 8rem);
    font-weight: bold;
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    margin: 10rem 0 16rem;
    &__heading {
      margin-bottom: 4rem;
    }
  }
}

.container {
  width: 100%;
  // height: 50vh;
  position: relative;
  margin: 1rem 0;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;

  color: black;
  text-decoration: none;

  &__info {
    position: relative;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 100%);

    &__title {
      // font-size: 3rem;
      font-size: clamp(1.5rem, 5.4vw + 0.4rem, 3rem);
      margin-bottom: 0rem;
    }

    &__subtitle {
      font-size: clamp(1.125rem, 1.6vw + 0.8rem, 1.563rem);
      color: hsla(0, 0%, 30%, 100%);
    }
    &__date {
      color: hsla(0, 0%, 30%, 100%);
    }
  }

  @media (min-width: 768px) {
    // height: 60vh;
    margin-bottom: 4rem;
    &__info {
      width: 50%;
      &__title {
        margin-bottom: 1rem;
      }
    }
  }
}
