.educations {
  position: relative;
  margin: 6rem 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__heading {
    // font-size: 12rem;
    font-size: var(--h2);
    font-weight: bold;
    margin-bottom: 1.25rem;
  }

  @media (min-width: 768px) {
    margin: 10rem 0 16rem;
    &__heading {
      margin-bottom: 4rem;
    }
  }
}

.container {
  width: 100%;
  // height: 50vh;
  position: relative;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-end;

  color: var(--text);
  text-decoration: none;

  &__info {
    position: relative;
    width: 100%;

    &__title {
      font-size: var(--h3);
      margin-bottom: 0rem;
    }

    &__subtitle,
    &__date {
      font-size: var(--copy-small);
      color: var(--text-light);
    }
  }

  @media (min-width: 768px) {
    // height: 60vh;
    margin-bottom: 4rem;
    &__info {
      width: 50%;
      &__title {
        font-size: var(--h4);
      }
      &__subtitle,
      &__date {
        font-size: var(--copy-large);
      }
    }
  }
}
