.footer {
  display: block;
  & > * {
    border-top: 1.5px solid hsla(0, 0%, 90%, 1);
    margin: 0 auto;
    width: calc(100vw - 32px);
    max-width: 1920px;
  }
}

.top {
  height: 20rem;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-content: center;

  padding: 2rem 1rem;

  &__item {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    .email {
      // font-size: 1.5rem;
      font-size: clamp(1.25rem, 6.3vw, 3rem);
      text-decoration: 2px solid underline;
    }
  }
  .list {
    grid-column: span 1;
    list-style: none;

    &__item {
      padding: 0.5rem 0;

      a {
        color: black;
        text-decoration: none;
      }

      &.active {
        list-style-type: disc;
      }
    }
  }
  @media (min-width: 768px) {
    &__item {
      p {
        font-size: 1.25rem;
      }
      .email {
        // font-size: 3rem;
        text-decoration: 3px solid underline;
      }
    }
  }
  @media (min-width: 1024px) {
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 2rem;

    &__item {
      grid-column: span 1;
    }
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;

  .imageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    h4 {
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    .imageContainer {
      h4 {
        margin: 0;
        font-size: 1.125rem;
      }
    }
    h5 {
      font-size: 1rem;
    }
  }
}
