.hero {
  margin: 0rem 0 6rem;
  padding-top: 9rem;
  position: relative;
  .hero__wrapper__data {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  &__model {
    position: absolute;
    // width: clamp(7rem, 12.9vw + 4.4rem, 16rem);
    width: clamp(7rem, 25.7vw + 1.9rem, 25rem);
    height: auto;
    z-index: 1;
    // top: calc(0px - 7rem);
    top: clamp(7rem, 4.3vw + 6.1rem, 10rem);
    right: clamp(2rem, 13vw - 0.6rem, 15rem);
    border: none;
  }

  &__wrapper {
    margin: 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 5;
    overflow: hidden;

    &__heading {
      margin: 0;
      line-height: 100%;
      z-index: 5;
      max-width: 75%;
    }
    &__subheading {
      font-family: var(--body-font);
      font-size: var(--copy);
      font-weight: normal;
      text-transform: unset;
      letter-spacing: unset;
      margin-bottom: 0;
      width: max-content;
      line-height: 135%;
      letter-spacing: -0.01em;
    }
    &__copy {
      max-width: 800px;
      margin: 2rem 1.25rem 2.5rem;
    }

    &__link {
      text-decoration: none;
    }

    &__link &__subheading {
      color: var(--offwhite);
      text-decoration: none;
      border-bottom: 2px solid var(--offwhite);
    }
  }
  &__banner {
    width: 100%;
    max-height: 100vh;
    height: auto;
    aspect-ratio: 16/9;
    position: relative;
    margin: 0 2rem;
  }

  @media (min-width: 768px) {
    margin: 0rem 0rem 8rem;
    padding-top: 10rem;

    &__wrapper {
      margin: 0 2rem;
      &__heading {
        font-size: var(--h2);
      }
      &__subheading {
        margin-left: 4px;
        font-size: var(--copy-large);
      }
      &__copy {
        p {
          font-size: var(--copy-large);
        }
        margin: 4rem 2rem;
        max-width: 40rem;
      }
    }

    &__banner {
      width: calc(100% - 4rem);
      // height: 80vh;
      position: relative;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;

  @media (min-width: 768px) {
    margin: 0 auto 8rem;
  }
}
