.projects {
  position: relative;
  margin: 6rem 0;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @media (min-width: 768px) {
    padding: 0 1rem;
  }

  &__heading {
    // font-size: 12rem;
    font-size: clamp(3rem, 17.9vw - 0.6rem, 8rem);
    font-weight: bold;
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    margin: 20rem 0 16rem;
    &__heading {
      margin-bottom: 4rem;
    }
  }
}

.container {
  width: 100%;
  position: relative;
  margin: 1rem 0;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;

  color: black;
  text-decoration: none;

  &__figure {
    position: relative;
    height: auto;
    height: 204px;

    &__image {
      transition: transform 0.8s ease-in-out;
      transform: scale(1);
    }
  }

  &__info {
    position: relative;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 100%);

    &__title {
      // font-size: 3rem;
      font-size: clamp(1.5rem, 5.4vw + 0.4rem, 3rem);
      margin-bottom: 0rem;
    }

    &__copy {
      color: hsla(0, 0%, 30%, 100%);
    }
  }

  &:hover {
    .container__figure__image {
      transition: transform 0.6s ease-in-out;
      transform: scale(1.125);
    }
  }

  @media (min-width: 768px) {
    // min-height: 60vh;
    height: 100%;
    margin: 0rem 0 8rem;
    &__info {
      width: 100%;
      &__title {
        margin-bottom: 0.5rem;
      }
      &__copy {
        min-width: 600px;
        width: 100%;
        max-width: 50%;
        margin-bottom: 1rem;
      }
    }
    &__figure {
      position: relative;
      // min-height: 400px;
      // max-height: 480px;
      height: clamp(22rem, 15.3vw + 14.7rem, 33rem);
      flex-grow: 1;
    }
  }
}
