.pageWrapper {
  padding-top: clamp(4rem, 7.1vw + 2.6rem, 9rem);
  padding-top: 4rem;
  position: relative;
  &__model {
    position: absolute;
    // width: clamp(7rem, 12.9vw + 4.4rem, 16rem);
    width: clamp(7rem, 25.7vw + 1.9rem, 25rem);
    height: clamp(7rem, 25.7vw + 1.9rem, 25rem);
    z-index: 1;
    // top: calc(0px - 7rem);
    top: clamp(6rem, 4.3vw + 5.1rem, 9rem);
    right: clamp(2.5rem, 12.5vw + 0rem, 15rem);
    border: none;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.projects {
  position: relative;
  margin: 0;
  margin-top: max(5rem, 25%);
  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  width: 100%;
  height: 100%;
  z-index: 15;

  &__intro {
    overflow: hidden;
    &__heading {
      font-weight: bold;
      margin: 0;
      line-height: 100%;
    }
    &__subheading {
      font-family: var(--body-font);
      font-size: var(--copy);
      font-weight: normal;
      text-transform: unset;
      letter-spacing: unset;
      margin-bottom: 0;
      max-width: 512px;
      line-height: 135%;
      letter-spacing: -0.01em;
      white-space: pre-wrap;
    }
  }

  @media (min-width: 768px) {
    padding: 0 1.5rem;
    margin: 17rem 0 16rem;

    &__isIndex {
      margin-top: 20rem;
    }

    &__intro {
      margin-bottom: 4rem;

      &__heading {
        margin-bottom: 1rem;
      }
      &__subheading {
        font-size: var(--copy-large);
      }
    }
  }
  // .noBMargin {
  //   margin-bottom: 0;
  // }

  &__noBMargin {
    margin-bottom: 0;
  }
}

.container {
  width: 100%;
  position: relative;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;

  color: var(--text);
  text-decoration: none;
  cursor: pointer;

  &__figure {
    position: relative;
    aspect-ratio: 16/9;
    cursor: pointer;
    background-color: var(--blue-20);
    height: auto;

    &__image {
      transform: scale(1.1);
      opacity: 0;
    }
  }

  &__info {
    position: relative;
    width: 100%;

    &__title {
      font-size: var(--h3);
      margin-bottom: 0rem;
      width: 80%;
    }

    &__role,
    &__year {
      color: var(--copy-small);
    }
  }

  @media (min-width: 768px) {
    height: 100%;
    margin: 0rem 0 6rem;
    &__info {
      &__role,
      &__year {
        font-size: var(--copy-large);
      }
    }
    &__figure {
      position: relative;
      flex-grow: 1;
    }
  }
}
